@import url(vars.css);

::-webkit-scrollbar {
  display: none;
}

.content {
  padding: 0 1.5em;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  display: block;
  width: 100vw;
  object-fit: fill;
  height: 100vh;
  transition: opacity 1s ease;
  opacity: 0;
}

.active {
  opacity: 1;
}

.main-card-characters {
  position: relative;
  top: 4rem;
  background-color: var(--color-bg);
  display: grid;
  flex-direction: column;
}

.characters-title {
  justify-self: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  position: relative;
  color: var(--yellow-title-sw);
  font-weight: 300;
  margin-top: 0;
  padding: 0;
}

.container-loading-two {
  position: absolute;
  top: 15rem;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 18rem;
  border: outset 0.1rem var(--yellow-saber);
  background-color: var(--color-bg);
  border-radius: 50%;
}

.title-loading-two {
  padding: 1rem;
  font-weight: var(--weigth);
  text-align: center;
  color: var(--yellow-title-sw);
}

.img-loading {
  justify-self: center;
  width: 4rem;
}

@media (min-width: 768px) {
  .image {
    object-fit: cover;
  }
}