@import url(vars.css);

.card-container {
    background-color: var(--color-bg);
    border: solid 0.1rem var(--white-saber);
    display: grid;
    justify-self: center;
    gap: 1rem;
    grid-template-columns: 16rem 14rem;
    margin: 1rem 0;
    width: max-content;
}

.card-name__li {
    align-items: center;
    color: var(--yellow-title-sw);
    display: grid;
    justify-content: center;
    list-style: none;
    text-align: center;
}


.card-name__ul {
    align-items: center;
    display: grid;
    padding: 0;
}

.container-properties {
    display: grid;
    gap: 1rem;
    padding: 0.5rem;
    place-content: center;
}

.card-detail {
    padding: 0;
}

.card-detail__li {
    color: var(--yellow-title-sw);
    display: grid;
    letter-spacing: 0.02rem;
    list-style: none;
    place-content: center;
    text-align: center;
}

@media (max-width: 768px) {
    .card-container {
        gap: 1rem;
        grid-template-columns: 14rem;
    }
}