@import url(vars.css);

.card-characters {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.card-characters__ul {
    display: grid;
    height: max-content;
    align-items: center;
    padding: 0;
    grid-template-columns: 14rem 14rem;
    background-color: var(color--bg);
    gap: 1rem;

}

.card-characters__li {
    justify-self: center;
    list-style: none;
    color: var(--yellow-title-sw);
}

@media (max-width: 768px) {
    .card-characters__ul {
        grid-template-columns: 14rem;
    }
}