@import url(vars.css);

.main-nav {
    background-color: var(--color-bg);
    display: flex;
    height: 4rem;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navigation {
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}

.Link {
    color: var(--yellow-saber);
    font-family: var(--font);
    font-size: var(--sm);
    font-weight: 400;
    padding: 1rem;
    text-decoration: none;
}

.navbar-right {
    align-items: center;
    padding:0;
    display: flex;
    height: 4rem;
    justify-content: flex-end;
    margin: 0;
    width: 100%;
}

.githubRepo {
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content: center;
}

.container-github {
    list-style: none;
}


.container__github--img {
    color: aliceblue;
    transform: scale(.4);
}

@media (max-width: 768px) {
    .navbar-right{
        margin-left: 4rem;
    }
    .Link{
        font-size: 1.2rem;
        padding: 0.5rem;
    }
    
}

@media (max-width: 576px) {
    .navbar-right{
        margin-left: 0;
    }

    .Link{
        padding: 0.5rem;
    }
}

@media (max-width: 280px) {
    .container-github{
        width: 100%;
    }
    .navbar-right{
        margin-left: 0;
        justify-self: flex-end !important;
        width: 4.4rem
    }
    .Link{
        padding: 0.5rem;
    }
}