@import url(vars.css);

.bg-image {
    display: flex;
    background-image: url("../assets/img/wars.jpg");
    background-size: "cover";
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: max-content;
    flex-direction: column;
}

.sw {
    text-align: center;
    font-size: var(--lg);
    padding: 1rem;
    background-color: var(--color-bg);
    margin-top: 60px;
    margin-bottom: 0;
    color: var(--yellow-title-sw);
    font-weight: var(--weigth);
    justify-self: center;
}

.card-films {
    background-color: var(--color-bg);
}

.container-loading {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading {
    align-self: flex-start;
    margin-top: 15rem;
    text-align: center;
    width: 20rem;
    color: var(--yellow-title-sw);
    font-weight: var(--weigth);
    background-color: var(--color-bg);
    padding: 10px;
    border-radius: 50%;
    border: 1px solid var(--yellow-saber);
}

@media screen and (max-width: 600px) {
    .bg-image {
        grid-template-columns: repeat(1, 30rem, 30rem, 30rem);
    }

}