.ul-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25rem;
}

.ul-list__info {
    margin: 0;
    padding: 0;
    width: 100%;
    color: var(--yellow-title-sw);
}