@import url(vars.css);

.card-main {
    background-color: var(--color-bg);
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 20rem 30rem;
    place-content: center;
}

.ul-list {
    display: flex;
    flex-direction: column;
    grid-gap: 0.5rem;
    place-content: center;
    list-style-type: none;
    padding: 0.2rem;
    width: 20rem;
    height: 20rem;
}

.ul-list__info {
    display: inline-block;
    margin: 1rem;
    padding: 0;
    color: var(--yellow-title-sw);
}

.container-description {
    display: grid;
    justify-content: center;
    padding: 0.5rem;
}

.description {
    color: var(--yellow-title-sw);
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 1rem;
}

@media screen and (max-width: 800px) {

    .card-main {
        grid-template-columns: 1fr;
    }

    .ul-list {
        text-align: center;
        justify-self: center;
    }
}

@media (max-width: 280px){
    .ul-list {
        width: 90%;
    }
}