:root {
    --black: #000000;
    --color-bg: rgba(0, 0, 0, 0.8);
    --blue-saber: #00a0ff;
    --font: 'New Cycle', sans-serif;
    --green-saber: ##12974d;
    --lg: 1.8rem;
    --md: 1.6rem;
    --red-saber: #f43a2b;
    --sm: 1.4rem;
    --yellow-saber: #fafc12;
    --yellow-title-sw: #fccc10;
    --weigth: 400;
    --white-saber: #ffffff;
}

body {
    margin: 0;
    font-family: var(--font);
    font-weight: var(--weigth);
}